html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
}

header,
footer,
main {
  padding: 0.7em;
}

main {
  flex: 1 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
}

footer {
  margin-top: 1.5em;
}

header {
  margin-bottom: 1.5em;
}

header,
footer,
section#loading,
section#error {
  text-align: center;
}

section#stats > h1 {
  margin: 0;
  margin-bottom: 0.5em;
}

section#error {
  color: red;
}
